---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import { getRandomNumber } from '../utility';

const allQuotes = await getCollection('quotes');
const pageIndex = getRandomNumber({
  min: 0,
  max: allQuotes.length - 1,
  current: null,
});

return Astro.redirect(`/quotes/${pageIndex}`);
---

<Layout title="Nootropic Cat Treats">
  <main class="App">
    <div>loading...</div>
  </main>
</Layout>
