---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import { getRandomNumber } from '../utility';

const allQuotes = await getCollection('quotes');
const pageIndex = getRandomNumber({
  min: 0,
  max: allQuotes.length - 1,
  current: null
});
---

<Layout title="Nootropic Cat Treats">
  <main class="App">
    <loading-holder data-next={pageIndex}>loading...</loading-holder>
  </main>
</Layout>

<script>
  class LoadingHolder extends HTMLElement {
    constructor() {
      super();

      const pageIndex = this.dataset.next;

      const redirectUrl = `${window.location.origin}/quotes/${pageIndex}`;
      window.location.href = redirectUrl;
    }
  }

  customElements.define('loading-holder', LoadingHolder);
</script>
