---
interface Props {
  title: string;
}

import '@fontsource/dm-sans/400.css';
import '@fontsource/dm-sans/700.css';

const { title } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={canonicalURL} />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --black: #111314;
    --black-translucent: rgba(17, 19, 20, 0.5);
    --white-alt: #b7bbb7;
    --white: #dde3dc;
    --white-translucent: rgba(221, 227, 220, 0.99);
    --primary: var(--red);
    --primary-alt: var(--red-alt);
    --font-quote: 'DM Sans', serif;
    --font-meta: 'DM Sans', sans-serif;
    --red: #b04c50;
    --red-alt: #b04c50;
    --green: #919652;
    --green-alt: #94985b;
    --yellow: #e2995c;
    --yellow-alt: #e2995c;
    --blue: #66899d;
    --blue-alt: #66899d;
    --magenta: #8d6494;
    --magenta-alt: #8d6494;
    --cyan: #527c77;
    --cyan-alt: #527c77;
  }

  * {
    box-sizing: border-box;
  }

  html,
  .root {
    font-size: 17px;
  }

  body {
    background-color: var(--black);
    color: var(--white);
    font-family: var(--font-meta);
    font-size: 1em;
    margin-bottom: 75px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  body,
  button {
    font-family: var(--font-meta);
  }

  a {
    color: var(--primary);
    text-decoration: none;
    font-weight: 700;
  }
  a:hover {
    color: var(--primary-alt);
  }

  cite {
    display: block;
    font-style: normal;
    margin-bottom: 1.618em;
    text-align: left;
  }

  cite > p {
    margin: 0;
  }

  cite > p:first-child {
    color: var(--white);
    font-weight: 700;
    margin-bottom: 6px;
  }

  blockquote {
    font-family: var(--font-quote);
    font-size: 1em;
    font-weight: 400;
    line-height: 1.75em;
    margin: 0.79310345em 0 0.79310345em 0;
  }

  blockquote > p {
    margin: 0 0 0.79310345em 0;
  }

  blockquote > div {
    margin: 0;
  }

  button {
    padding: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    max-width: 700px;
    width: 96%;
    margin: 0 auto;
    padding-top: 1em;
  }

  .quotemark-l {
    color: var(--primary);
    font-size: 100px;
    text-align: center;
    line-height: 1;
  }

  nav {
    background-color: var(--black-translucent);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 100px;
    bottom: 0;
    align-items: center;
    justify-content: center;
    transition: height 0.25s linear;
    gap: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  nav.open {
    height: 100vh;
    overflow-y: scroll;
    padding-top: 1rem;
  }

  nav.open ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 96%;
    text-align: center;
  }

  nav.open ul li {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }

  .quotee-select-button {
    font-size: 0.777rem;
    white-space: nowrap;
  }

  .open-button,
  .close-button {
    position: absolute;
    right: 2%;
    font-size: calc(18 / 17 * 1rem);
  }

  .close-button {
    top: 8px;
  }

  .open-button {
    top: 50%;
    transform: translateY(-50%);
    display: none;
  }

  .playlist-button {
    font-size: 1rem;
    text-align: center;
    white-space: nowrap;
    padding: 0.5rem 1.5rem;
    margin: 0 4.5rem;
    background-color: var(--white-translucent);
    border-radius: 50px;
    order: 1;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .playlist-button-text {
    display: block;
    text-overflow: ellipsis;
    max-width: 175px;
    overflow: hidden;
    margin: 0 auto;
  }

  .playlist-button-text a {
    color: var(--black);
  }

  .playlist-button-text:hover a {
    color: var(--primary);
  }

  button,
  button a {
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    color: var(--white);
    border: none;
  }

  button:hover,
  button a:hover,
  .quotees-list li a:hover {
    color: var(--white-alt);
  }

  p.jumbo {
    font-size: 1.777rem;
    text-align: center;
  }


  .backward {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid var(--white-alt);
    padding: 0.5rem 1.5rem;
    order: 2;
  }

  .backward svg {
    width: 23px;
    height: 8px;
    fill: var(--white-alt);
  }

  .backward:hover {
    border-color: var(--white-alt);
  }

  .backward:hover svg {
    fill: var(--white-alt);
  }

  .forward {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid var(--white-alt);
    padding: 0.5rem 1.5rem;
    order: 3;
  }

  .forward svg {
    width: 23px;
    height: 8px;
    fill: var(--white-alt);
  }

  .forward:hover {
    border-color: var(--white-alt);
  }

  .forward:hover svg {
    fill: var(--white-alt);
  }

  .backward:hover,
  .forward:hover {
    cursor: pointer;
  }

  .forward.disabled, .backward.disabled {
    cursor: default;
    border-color: var(--black);
  }

  .forward.disabled svg, .backward.disabled svg {
    fill: var(--black);
  }

  .open-button,
  .close-button {
    width: 1.5rem;
    height: 1.5rem;
  }

  ul {
    list-style: none;
  }

  ul,
  li {
    /* reset the margin and padding */
    margin: 0;
    padding: 0;
  }

  .quotees-list li {
    margin-bottom: 0.5rem;
  }

  .quotees-list li a {
    color: var(--white);
  }

  @media (min-width: 450px) {
    .playlist-button {
      font-size: 1rem;
    }

    .open-button {
      display: block;
    }

    .playlist-button-text {
      max-width: 200px;
    }
  }

  @media (min-width: 527px) {
    .playlist-button {
      order: 2;
      width: auto;
    }

    .backward {
      order: 1;
    }
  }

  @media (min-width: 650px) {
    .open-button,
    .close-button {
      right: 2vw;
    }

    .playlist-button {
      font-size: 1rem;
    }

    .playlist-button-text {
      max-width: 90vw;
    }
  }
</style>
